<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="cambiarClave()">
    <ion-item>
      <ion-label position="floating">Contraseña Actual</ion-label>
      <ion-input type="password" formControlName="clave_anterior"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" formControlName="clave_nueva"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="cargando">
      {{ cargando ? 'Cambiando...' : 'Cambiar Contraseña' }}
    </ion-button>
  </form>

  <ion-text color="primary" *ngIf="mensaje">
    <p class="ion-margin-top">{{ mensaje }}</p>
  </ion-text>
</ion-content>